#wp-admin-bar {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px !important;
	height: 30px !important;
	background-color: #666666;
}

#wp-admin-bar .padder {
	height: 30px !important;
}

#wp-admin-bar .padder .main-nav li#bp-adminbar-logo a {
	color: #FF9900;
}

#wp-admin-bar .padder .main-nav li {
	border-right: solid 1px #3E3E3E;
	background-position: 88% 53%;	
}

#wp-admin-bar .padder .main-nav li a {
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 17px;
	padding-right: 17px;
	color: #CCCCCC;
}

#wp-admin-bar .padder .main-nav li li {
	border-right: none;
	width: 185px;
}

#wp-admin-bar .padder .main-nav li li a {
	padding-right: 15px;
}

#wp-admin-bar .padder .main-nav ul ul {
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#wp-admin-bar .padder .main-nav ul ul ul {
	-moz-box-shadow: none;
}

#wp-admin-bar .padder .main-nav li:hover a {
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px !important;
	color: #FFFFFF;
}

#wp-admin-bar .padder .main-nav li li:hover {
	padding-right: 0 !important;
}

#wp-admin-bar .padder .main-nav li li:hover a {
	background-color: #444444 !important;
}

#wp-admin-bar .padder .main-nav li li li:hover a {
	background-color: #555555 !important;
}

#wp-admin-bar .padder ul li.align-right {
	padding-right: 17px;
	border-left: solid 1px #3E3E3E;
	background-position: 93% 53%;	
}

#wp-admin-bar .padder ul li.align-right a img {
	margin-top: -5px;
	border: 1px solid #3E3E3E;
}