body {
	padding-top: 32px !important;
	background-position: 0px 32px !important;
}

#wp-admin-bar {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
}

#wp-admin-bar .padder {
	height: 32px;
}

#wp-admin-bar .padder .main-nav li a {
	font-size: 13px;
	font-weight: lighter;
	padding-top: 9px;
	padding-bottom: 9px;
}

#wp-admin-bar .padder .main-nav li {
	border-right: solid 1px #8D8D8D;
}

#wp-admin-bar .padder .main-nav li li {
	border-right: none;
}

#wp-admin-bar .padder .main-nav li:hover a {
	text-decoration: none;
	padding-top: 9px;
	padding-bottom: 9px !important;
	color: #FFFFFF;
}

#wp-admin-bar .padder .main-nav li#bp-member-name-avatar {
	height: 50px;
}

#wp-admin-bar .padder .main-nav li#bp-member-name-avatar img {
}

#wp-admin-bar .padder .main-nav li#bp-member-name-avatar h4 {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	display: inline;
}

#wp-admin-bar .padder ul li.align-right {
	padding-right: 22px;
}

#wp-admin-bar .padder ul li.align-right a img {
	margin-top: -8px;
}