body {
	padding-top: 0px;
}

#wpadminbar .quicklinks ul li#wp-admin-bar-cunyj_links a {
	color: #FF9900;
}

#wpadminbar .quicklinks ul li#wp-admin-bar-cunyj_links ul li a {
	color: #555555;
}

#wpadminbar .quicklinks ul li#wp-admin-bar-cunyj_links ul li:hover a {
	color: #FFFFFF;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar > a img {
	width: 16px;
	height: 16px;
}